{% extends 'base.html' %}

{% block content %}

<h1>Certifications</h1>
<br>
<br>
<br>
<h4>10 days Corporate level training on Python - SOU and Softvan Pvt. Ltd.</h4>
<p>Learning Outcomes: Core concepts of Python, Data Analytics with Pandas and NumPy library</p>

<h4>Programming Foundations with JavaScript, HTML and CSS - Coursera</h4>
<p>Learning Outcomes: Fundamental concepts of programming and web development </p>

<h4>Front-End Web UI Frameworks and Tools: Bootstrap4 - Coursera</h4>
<p>Learning Outcomes: Bootstrap grid system, Responsive design, Several CSS and JavaScript components, CSS preprocessors and many more...</p>

<h4>#GoogleCloudReady Facilitator Program - Google Cloud</h4>
<p>Learning Outcomes: Different concepts of cloud technologies like cloud architecture, application development, Machine Learning and Big Data using Cloud.</p>

<h4>The Fundamentals of Digital Marketing - Google Digital Unlocked</h4>
<p>Learning Outcomes: Basic concepts and strategies of Digital Marketing</p>


{% endblock %}