{% extends 'base.html' %}

{% block content %}

<h1>Industrial Experience</h1>

<br>

<h4>Python-Django Internship </h4>
<p> Company: Akash Technolabs <br> Duration: 15 days <br> Learning outcomes: Fundamental concepts of Pyton, Loading HTML and CSS themes in Django & Databse Connectivity.</p>

<h1>Volunteering Experience</h1>
<br>
<h4>IEEE TEMS India Student Ambassador-2020</h4>
<p> (May-2020 - Dec-2020)<br>As a part of this program, I had got the opportunity to get connected and work with highly knowledgeable professionals and 88 selected student ambassadors from different sections of the India Council. </p>

<h4>Chairperson - Documentation and Social Media Committees, SOU IEEE SB </h4>
<p> (Feb-2020 - Mar-2021)<br>Managed the various social media campaigns and drafting work for numerous branch, sectional, national, and international level events, contests, and award nominations. </p>

<h4>Member of IEEE & IEEE WIE AG, SOU IEEE SB </h4>
<p> (July-2019 - present)<br>Served as the managerial and leadership roles in multiple events and campaigns carried out by the organization.
</p>

{% endblock %}