{% extends 'base.html' %}

{% block content %}

<h1>Welcome to the Website</h1>

<br>
<br>
<br>
<h4> Hello!</h4>
<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp I am Rutvi Patel, a final year Computer Engineering student. I am a quick learner and passionate about discovering new technologies.
 Currently, I'm exploring web technologies and trying to elevate my technical abilities by learning different JavaScript and CSS 
 frameworks from all the available resources.</p>

{% endblock %}


				