{% extends 'base.html' %}

{% block content %}

<h1>Projects</h1>
<br>
<br>
<br>

<h4>A basic website for a restaurant:</h4>
<p>It was a website for a restaurant from where viewers can get all the information regarding the restaurant, new offers and chefs. Alongside, users will be able to log in and book the table as per their preference.
<br><li>Technologies used: HTML, CSS, JS, Bootstrap4, & some concepts of Scss and Less.</li>
<br><li><a href="https://github.com/rutvi2500/Web">Visit the Github repository</a></p></li>

<h4>Speed Typing Test:</h4>
<p>It is a fun game where the player will write the sentence displayed on the screen and in the result they will get the time, accuracy and the capacity of typing words per minute.
<br><li>Technology used: Python and Pygame</li>
<br><li><a href="https://github.com/rutvi2500/Typing-Speed-Test">Visit the Github repository</a></p></li>

<h4>Personal Website (Portfolio):</h4>
<p><li>Technology used: Python & Django</li>
<br><li><a href="https://github.com/rutvi2500/Personal-Website">Visit the Github repository</a></p></li>

{% endblock %}